$black: #000;
$white: #fff;
$content:#333;
$semantic-gray: #999;
$accent-place: #606b71;
$pre-green:#1db195;
$accent-10-blue: #bfccd2;
$pastel-blue:#00324b;
$charcoal-50:#959ca0;
$card-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
$title-blue: #0e5296db;
$bg-white: #F2F5F6;
$primary-color: #1590bd;
$line:#1590bd;


// $dark-primary: #136652;
// $purple: #9a61d3;
// $white-color: #fff;
// $background-color: #a1a1aa;
// $light-grey: #c4c4c4;
// $dark-grey: #919191;

// $bg-card1: #279d7a;
// $bg-card2: #9a61d3;
// $bg-card3: #54a1d8;
// $bg-card4: #e15e5e;
// $dark-black: #1c2d41;

// $hover-color:#e5e5e5d1;
// $shadow:0 0 60px 0 #00000033;