@import "../../styles/mixin";
@import "../../styles/variable";

.popup {
    .popup-modal {
        height: auto;
    }

    .popup-section {
        height: 100%;
        // padding: 30px;

        .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 22px;

            &:hover {
                background-color: unset;
            }
        }
    }
}