@import "../../styles/mixin.scss";
@import "../../styles/variable";

.small-header {
    .header-body {
        background-color: $white;
        box-shadow: 0 1px 3px rgb(0 0 0 / 0.15);
        padding: 15px 25px;

        .header-text {
            p {
                margin: 0;
            }

            .text-acct {
                color: $charcoal-50;
            }

            .sign-up {
                margin-left: 8px;
                color: $pastel-blue;
                cursor: pointer;
                font-size: 15px;

                a {
                    &:hover {
                        color: $pastel-blue;
                    }
                }
            }
        }
    }
}