@import "../../styles/mixin";
@import "../../styles/variable";

.field-content {
    .custom-card {
        margin-bottom: 0;

        .input-box {
            margin-bottom: 10px;
        }
    }

    .d-end {
        .main-btn {
            margin-left: 10px;
        }
    }
}